body{
	width:50%;	
	margin:auto;
}

h2{
	padding-top: 32px;
}

#errormsg{
	color: red;
}

.ans_container{
	margin-bottom: 5%;
	justify-content: left;
	height: 22px;
	width: auto;
	display: flex;
	flex-direction: column;
}

.ans_holder{
	margin-left: 2%;
	padding-left: 6%;
	padding-right: 6%;
	width: auto;
	height: 20px;
	border: 1px solid black;
}

#Q_div{
	gap:1.9%
}

.ans{
	justify-content: left;
	height: 22px;
	width: auto;
	display: flex;
	flex-direction: row;
}

#ans_q{
	margin: 0%;
	padding: 0%;
}

#ans_a{
	margin: 0%;
	padding: 0%;
}